<!DOCTYPE html>
<html>
<head>
    <title>Display Table</title>
</head>
<body>
    {% for table, rows in data.items %}
        <h1>{{ table }}</h1>
        <table>
            <thead>
                <tr>
                    {% for column in rows.0 %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>