<h1> Update welfare activity </h1>

<form action="updaterecord/{{ activity.id }}" method="post">
{% csrf_token %}
Name:<br>
<input name="name" value="{{ activity.name }}">
<br><br>

Max participants:<br>
<input name="max_participants" value="{{ activity.max_participants }}">
<br><br>

Dates:<br>
<input name="dates" value="{{ activity.dates }}">
<br><br>


Contact:<br>
<input name="contact" value="{{ activity.contact }}">
<br><br>

Description:<br>
<input name="description" value="{{ activity.description }}">
<br><br>

<input type="submit" value="Submit">
</form>

<form action="updaterecord/{{ activity.id }}" method="post">
{% csrf_token %}
<button type="submit" name="submit_button" value="hr">hr perm</button>
<button type="submit" name="submit_button" value="finance">finance perm</button>
<button type="submit" name="submit_button" value="dm">direct manager perm</button>
<input name="reason" value="{{ activity.reason }}">
<button type="submit" name="dis_submit_button" value="hr_dis">hr disallow</button>
<button type="submit" name="dis_submit_button" value="finance_dis">finance disallow</button>
<button type="submit" name="dis_submit_button" value="dm_dis">direct manager disallow</button>
</form>
